---
import { Image } from "astro:assets";

interface Props {
  link: string;
  image: ImageMetadata;
  subtitle: string;
  title: string;
  description: string;
}

const { link, image, subtitle, title, description } = Astro.props;
---

<a href={link} class="aspect-video w-full rounded-lg shadow" target="_blank">
  <div class="relative h-full">
    <Image
      alt="gallery"
      class="absolute inset-0 block h-full w-full rounded-lg object-cover"
      src={image}
      width={1600}
      height={900}
    />
    <div
      class="relative z-10 grid h-full w-full place-items-center rounded-lg border-4 border-gray-900 bg-gray-900 opacity-0 hover:opacity-100"
    >
      <div class="space-y-4">
        <h2 class="text-sm font-medium tracking-widest text-indigo-400">
          {subtitle}
        </h2>
        <h3 class="text-lg font-medium text-white">{title}</h3>
        <p class="leading-relaxed text-gray-400">{description}</p>
      </div>
    </div>
  </div>
</a>
